html {
  font-size: 62.5%;
}

body {
  background: #333;
  font-family: "メイリオ";
}

.tab-container {
  width: 100%;
  font-size: 1.6rem;
}

input[name="tab-item"] {
  display: none;
}

.tab-item {
  width: 50%;
  height: 4.6rem;
  color: #888;
  border: .2rem solid;
  box-sizing: border-box;
  float: left;
  display: block;
  padding: 1rem 0;
  text-align: center;
  font-weight: bold;
}

.tab-item#left-label {
  border-color: #888 #f5f5f5 #f5f5f5 #888;
  border-radius: .9rem 0 .9rem;
}

.tab-item#right-label {
  border-color: #888 #888 #f5f5f5 #f5f5f5;
  border-radius: 0 .9rem 0;
}

.tab-container input:checked+.tab-item {
  color: #f5f5f5;
  border-bottom: none;
}

.tab-container input#left:checked+.tab-item#left-label {
  border-color: #f5f5f5;
  border-radius: .9rem 0 0;
  border-right: none;
}

.tab-container input#right:checked+.tab-item#right-label {
  border-color: #f5f5f5;
  border-radius: 0 .9rem 0 0;
  border-left: none;
}

#left:checked~#left-content,
#right:checked~#right-content {
  display: block;
}

.tab-content {
  color: #f5f5f5;
  border: 0.2rem solid #f5f5f5;
  border-radius: 0 0 .9rem .9rem;
  border-top: none;
  display: none;
  padding: 0 1.8rem 1.2rem;
  text-align: center;
  overflow: hidden;
}

.tab-content div {
  text-align: center;
  display: flex;
  padding: 0 .6rem;
}

.btn {
  width: 50%;
  height: 3em;
  color: #f5f5f5;
  background: #444;
  border: .1rem solid #888;
  border-radius: .9rem;
  margin: 1.2rem .6rem 0;
  transition: .6s ease-out;
}

.btn:hover {
  background: #333;
}

table {
  user-select: none;
  width: 100%;
  border: .1rem solid;
  border-spacing: 0;
  border-radius: .9rem;
  border-collapse: separate;
  margin: 1.2rem .5rem 0;
  text-align: center;
  font-size: .8rem;
  overflow: hidden;
  white-space: nowrap;
}

table th,
table td {
  border-right: .1rem solid;
  border-bottom: .1rem solid;
  padding: .4rem 1rem;
  vertical-align: middle;
}

table th:last-child,
table td:last-child {
  border-right: none;
}

table tr:last-child th,
table tr:last-child td {
  border-bottom: none;
}

td.num {
  text-align: right;
}

.menu-select {
  background: #444;
  overflow: hidden;
  width: 100%;
  margin: 1.2rem .6rem 0;
  text-align: center;
}

.menu-select select {
  width: 100%;
  padding-right: 1em;
  cursor: pointer;
  text-indent: .01px;
  text-overflow: ellipsis;
  border: none;
  outline: none;
  background: transparent;
  background-image: none;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
}

.menu-select select::-ms-expand {
  display: none;
}

.menu-select.menu {
  position: relative;
  border: .1rem solid #888;
  border-radius: .9rem;
}

.menu-select.menu::after {
  width: 0;
  height: 0;
  margin: auto;
  padding: 0;
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #f5f5f5;
  pointer-events: none;
}

.menu-select.menu p{
  font-size: .8em;
  white-space: nowrap;
}

.menu-select.menu select {
  color: #f5f5f5;
  background: #444;
  padding: 8px 38px 8px 8px;
}