/*
h1 {
  background-color: yellow;
}

label {
  display: block;
  float: left;
  text-align: right;
  width: 20%;
}

input {
  width: 75%;
}

#button {
  text-align: center;
}

.btn {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14pt;
  height: 4ex;
  width: 6em;
  border-radius: 10px;
  color: white;
  background-color: blue;
}

#message {
  border-style: solid;
  border-color: grey;
}

table {
  border-collapse: collapse;
}

th, td {
  border: solid;
}

td.num {
  text-align: right;
} */

html{
  font-size: 62.5%;
}

body {
  background: #333;
  font-family: "メイリオ";
}

.tab-container {
  width: 100%;
  font-size: 1.6rem;
}

input[name="tab-item"] {
  display: none;
}

.tab-item {
  width: 50%;
  height: 50px;
  color: #888;
  border: 2px solid;
  box-sizing: border-box;
  float: left;
  display: block;
  padding: 10px .5em;
  text-align: center;
  font-weight: bold;
}

.tab-item#left-label{
  border-color: #888 #f5f5f5 #f5f5f5 #888;
  border-radius: 9px 0px 9px 0px;
}

.tab-item#right-label{
  border-color: #888 #888 #f5f5f5 #f5f5f5;
  border-radius: 0px 9px 0px 9px;
}

.tab-container input:checked + .tab-item {
  color: #f5f5f5;
  border-bottom: none;
}

.tab-container input#left:checked + .tab-item#left-label{
  border-color: #f5f5f5;
  border-radius: 9px 0 0 0;
  border-right: none;
}

.tab-container input#right:checked + .tab-item#right-label{
  border-color: #f5f5f5;
  border-radius: 0 9px 0 0;
  border-left: none;
}

#left:checked ~ #left-content,
#right:checked ~ #right-content {
  display: block;
}

.tab-content {
  color: #f5f5f5;
  border: 2px solid #f5f5f5;
  border-radius: 0 0 9px 9px;
  border-top: none;
  display: none;
  padding: 20px 0;
  text-align: center;
  overflow: hidden;
}

.tab-content div {
  text-align: center;
  display: flex;
  padding: 0 1.5em;
}

.btn {
  width: calc(100% / 2);
  height: 3em;
  color: #f5f5f5;
  background: #444;
  border: 1px solid #888;
  border-radius: 9px 9px 9px 9px;
  margin: 1em .5em 0;
  transition: .6s ease-out;
}

.btn:hover{
  background: #333;
}
